body{
  margin: auto;
  padding: auto;
  background-color: rgb(3, 3, 3);
}
/* header */
.header{
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.3);
  height: 60px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.title{  
  padding: 5px;
  margin-left: 5px;
  color: rgb(101, 29, 168);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linkBottons{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 200px;
  padding: 5px;
  border-radius: 2px;
}

.divBottomSair{
  background-color: rgb(44, 11, 75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 80px;
}

.divBottomSair:hover{
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: #fff;
}

.linkSair{
  text-align: center;
  width: 100%;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.divBottomChannel{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 95px;
}

.divBottomChannel:hover{
  cursor: pointer;
  border: solid;
  border-width: 1px;
  border-color: #fff;
}

.linkChannel{
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navigations{
  display: flex;
  flex-direction: row;
}
.links{
  padding: 15px;
  margin: 10px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(155, 155, 155);
}
.links:hover{
  padding: 15px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #585858;
}

/* modal */
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(14, 14, 14, 0.7);
  transition: all 0.4s;
}
 
.modal:target {
  visibility: visible;
  opacity: 1;
}

.content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__content{
  background-color: rgb(37, 37, 37);
  padding: 10px;
  height: 50%;
  width: 50%;
}

.bottomYesModal{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 80px;
  margin: 10px;
  border: solid;
  border-color: rgb(101, 29, 168);
  border-width: 2px;
}

.bottomYesModal:hover{
  cursor: pointer;
  transition: 1s;
  border-width: 2px;
  border-color: rgb(144, 61, 221);
}

.bottomCloseModal{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 30px;
  width: 80px;
  margin: 10px;
  border: solid;
  border-color: rgb(194, 129, 255);
  border-width: 2px;
}

.bottomCloseModal:hover{
  cursor: pointer;
  transition: 1s;
  border-width: 2px;
  border-color: rgb(144, 61, 221);
}

.bottonsLinks{
  height: 0 auto;
  width: 100%;
  color: #fff;
  text-decoration: none;
}


.titleModal{
  padding: 5px;
  border-color: rgb(101, 29, 168);
  border-width: 2px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}  
.bottoms{
  display: flex;
  flex-direction: row;
}

/* feed*/

.container{
  width: 100%;
  align-items: center;
  justify-content: center;
}

.gridVideos{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(auto-fill,min(100%, 300px));
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #000000;
    
}
.LinkVideo{
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 85%;
  align-items: center;
  justify-content: center;
  border: groove;
  border-width: 1px;
  border-color: transparent;
  text-decoration: none;
}

.LinkVideo:hover{
  border: groove;
  border-width: 1px;
  border-color: whitesmoke;
}

.thumbnail{
  margin: auto;
  padding: 2px;
  height: 100%;
  width: 100%;
}
.cabecalho{
  margin: 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.imagesChannels{
  margin-left: 5px;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.imagesChannels:hover{
  cursor: pointer;
}

.ChannelInfo{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
}

#titleVideo{
  text-decoration: none;
  width: 100%;
  margin-left: 10px;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-color: transparent;
}
.nameChannel{
  text-decoration: none;
  margin-left: 10px;
  color: #585858;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

