<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='http://localhost:3030/css/cadastro/index.css'>
    <script >

    </script>
</head>
<body>
    <div class="container">
        <form id="formCadastro" method="post" action="/cadastro/add/" >
            <h2>Bem vindo ao Impusic</h2>
            <input  name="name" id="name"  type="text" placeholder="nome" />
            <input  name="email" id="email" type="text" placeholder="email" />
            <input  name="password" id="password"  type="text" placeholder="senha"/>
            <button id="enviar" type="submit" value="adicionar" >Cadastrar</button>
        </form>
    </div>
</body>
</html>