<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sobre</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/sobre/index.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="container">
        <img class="img" src="/fundoSobre6.jpg" />
        <h1 class="titleProject">Impusic</h1>
    </div>
    <div class="container2">
        <h2 class="title">O que é o Impusic</h2>
        <p class="conteudo">Impusic é um projeto desenvolvido por um grupo de jovens estudantes da Etec de Hortolândia.
            Essa ideia tem como o objetivo de impusionar artistas seja eles independetes, com nome na industria da musica, quer apenas mostrar sua arte, se só deseja consumir o conteudo de seu artista favorito ou também que utilizar uma plataforma voltada a arte.
        </p>
        <p class="conteudo">
            O projeto é desenvolvido para atender a todos, buscando uma interface simple e intuitiva para facilitar o uso da aplicação e atender a todas as necessidades.
        </p>
        <p class="conteudo">
            Esperamos que atender e dar o devido suporte a todos que utilizarem o Impusic, obrigado.
        </p>

    </div>
    <hr/>
    <h5></h5>
</body>
</html>